@import "tipografia";
@import "paleta";



@mixin font {  
    font-family: $title_font_a ;
    font-family: $title_font_b ;
}


body {
    background-color: map-get($map: $paleta, $key: "fondo" )!important;

    .bg-image-first{
        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height:100%;
    }
    .title {
        @include font;
        font-size: 50px;
        font-weight: bold;
        }
    .subtitle{
        @include font;
        color: map-get($map: $paleta, $key: "subtitulos") !important ;
        font-size: 30px;

        }
    .sectionSubtitles{
        @include font;
        color: map-get($map: $paleta, $key: "terciario")!important ;
        font-size: 30px;
    }
    .descriptionText{
        @include font;
        text-align: justify;
        color: map-get($map: $paleta, $key: "secundario")!important ;
        font-size: 20px;
    }
    .relleno {
        height: 30vh;
        background-color: map-get($map: $paleta, $key: "fondo")!important;
    
    }
    /* Media Query */
    .title {
    @media screen and (max-width: 768px) {
        &{
            font-size: 30px;
            }
        }  
    @media (max-width: 400px) {
        &{
            font-size: 20px;
                }
         }
        }
    .subtitle{
   
    @media (max-width: 768px) {
        &{
            font-size: 15px;
            }
        }
    @media (max-width: 400px) {

        &{
            font-size: 10px;
            }
        }
        }
    .sectionSubtitles{
    
    @media (max-width: 768px) {

        &{
            font-size: 20px;
        }      
    }
    @media (max-width: 400px) {

        &{
            font-size: 15px;
        }
        
    }
    }
    .descriptionText{

    @media (max-width: 768px) {

        &{
            font-size: 15px;
    
        }
        
    }
    }
    .relleno {
   
    @media (max-width: 400px) {

        & {
            height: 40vh;
        }
        
    }
    }
    
    
   
}